div {
  border: 1px dashed black;
  /* background-color: rgba(0,0,0,0.35); */
}

article {
  border: 1px dashed green;
  /* background-color: rgba(53,255,0,.35); */
}

aside {
  border: 1px dashed yellow;
  /* background-color: rgba(255,255,0,.35); */
}

details {
  border: 1px dashed blue;
  /* background-color: rgba(0,27,255,.35); */
}

footer {
  border: 1px dashed red;
  /* background-color: rgba(255,0,0,.35); */
}

header {
  border: 1px dashed orange;
  /* background-color: rgba(255,132,0,.35); */
}

main {
  border: 1px dashed white;
  /* background-color: rgba(0,0,0,0.15); */
}

nav {
  border: 1px dashed pink;
  /* background-color: rgba(255,0,254,.35); */
}

section {
  border: 1px dashed purple;
  /* background-color: rgba(160,0,255,.35); */
}

summary {
  border: 1px dashed black;
  /* background-color: rgba(0,0,0,0.35); */
}

.box {
  background-color: rgba(160,0,255,.35);
}
