footer#foot {
  color: white;
  height: 300px;
  background-color: DimGrey;
}

.social-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  margin: 32px 16px 32px 0;
  box-sizing: border-box;
  fill: white;
  /* background-color: white; */
}
