section.map {
  background-position: center;
  background-repeat: repeat;
  background-size: 35%;
  height: 100vh;
}

section.map .interactive {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: var(--rads, 4px);
  overflow: hidden;
  background-color: white;
  /* height: 80vh; */
  box-shadow: var(--drop-shadow)
}

section.map .interactive::after {
  content: '';
  display: block;
  padding-bottom: 50%;
}


section .logo {
  width: 20%;
  padding: 20px;
  /* padding-top: 20%; */
}

section.content {
  background-color: lightGrey;
  padding: 32px 0;
}

div.row.spacer {
  margin: 16px 0;
}

div.row.spacer-large {
  margin: 64px 0;
}

.card {
  height: 250px;
  width: 100%;
  background-color: white;
  border-radius: var(--rads, 4px);
  box-shadow: var(--drop-shadow);
  text-align: center;
}

.card.tall {
  height: 350px;
}

.hero-text {
  height: auto;
  text-align: left;
  padding: 32px;
  box-sizing: border-box;
}

.hero-text h2, .hero-text h3 {
  padding: 0;
}

.hero-text h3 {


}
