nav#navigation {
  padding: 8px 0;
}

.nav-link {
  text-align: center;
  margin: 8px;
  height: 32px;
  background-color: DarkGrey;
  width: 100%;
  border-radius: var(--rads-min, 4px);
  box-shadow: var(--top-shadow)
}

@media only screen and (min-width: 30em) {

}

@media only screen and (min-width: 48em) {
  .nav-link {
    height: 48px;
  }
}

@media only screen and (min-width: 64em) {

}

@media only screen and (min-width: 75em) {

}
