html {
  overflow-x: hidden;
}

#svg-filters {
  position: absolute;
}

section, footer {
  box-shadow: var(--top-shadow)
}

.box {
  margin: 8px 0;
}

.space-16 {
  margin: 16px 0;
}
