@font-face {
  font-family: "SUNN";
  src: url("assets/fonts/SUNN.otf") format("opentype")
}

html {
  font-family: sans-serif;
  font-size: 90%;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-top: 1.5rem;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SUNN, sans-serif;
  margin-bottom: 0;
}
h1 {
  font-size: 4.242rem;
  padding: 32px;
}
h2 {
  font-size: 2.828rem;
  padding: 16px;
}
h3 {
  font-size: 1.414rem;
  padding: 8px;
}
h4 {
  font-size: 0.707rem;
  margin-top: 1.75rem;
  padding: 4px;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}

/* Code blocks */
code {
  vertical-align: bottom;
}

/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}

/* Hug the block above you */
.hug {
  margin-top: 0;
}

@media only screen and (min-width: 30em) {
  html {
    font-size: 100%;
  }
}

@media only screen and (min-width: 48em) {
  html {
    font-size: 110%;
  }
}

@media only screen and (min-width: 64em) {

}

@media only screen and (min-width: 75em) {

}
